<mat-table class="mat-elevation-z8" [dataSource]="dataSource">
  <ng-container matColumnDef="week">
    <mat-header-cell *matHeaderCellDef>Woche</mat-header-cell>
    <mat-cell *matCellDef="let reminder"> {{reminder.week}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="span">
    <mat-header-cell *matHeaderCellDef>Zeitraum</mat-header-cell>
    <mat-cell *matCellDef="let reminder"> {{reminder.from}}-{{reminder.to}}{{reminder.year}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="persons">
    <mat-header-cell *matHeaderCellDef>Verantwortlich</mat-header-cell>
    <mat-cell *matCellDef="let reminder">
      <mat-chip-list>
        <mat-chip *ngFor="let person of reminder.persons">
          {{person}}
        </mat-chip>
      </mat-chip-list>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
