<mat-table class="lessons-table mat-elevation-z8" [dataSource]="reminderService.findReminders()">

  <ng-container matColumnDef="week">
    <mat-header-cell class="small-cell" *matHeaderCellDef>Woche</mat-header-cell>
    <mat-cell class="small-cell" *matCellDef="let reminder">{{reminder.week}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="span">
    <mat-header-cell class="small-cell" *matHeaderCellDef>Zeitraum</mat-header-cell>
    <mat-cell class="small-cell"
              *matCellDef="let reminder">{{reminder.span}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="persons">
    <mat-header-cell class="big-cell" *matHeaderCellDef>Personen</mat-header-cell>
    <mat-cell class="big-cell"
              *matCellDef="let reminder">{{reminder.persons}}

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>
